#app-header {
    width: 100vw;
    height: 60px;
    border-bottom: solid black 2px;
    background-color: var(--three);
    position: fixed;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding-right: 20px;
    z-index: 10;
    background-image: linear-gradient(var(--three), var(--seven), var(--three))
}

#app-title {
    color: black;
    font-size: 36px;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 1px 1px 2px black, 1px 1px 1px var(--button), 0 0 18px var(--two), 0 0 6px var(--four), 0 0 2px rgb(255, 0, 242), 2px 2px 4px black, 2px 2px 3px var(--button);
    padding-top: 12px;
    padding-left: 10px;
}

#header-comp1 {
    
    position: fixed;
    top: 17px;
    right: 115px;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--two);
}

#header-comp2 {
    position: fixed;
    right: 25px;
    top: 18px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 

