#new-project-modal {
    /* margin-top: 50px; */
    /* border: solid black 1px; */
    background-color: var(--two);
    /* border-top-right-radius: 30px 15px;
    border-bottom-left-radius: 30px 15px; */
    /* padding: 20px; */
    box-shadow: 1px 1px 2px black, 2px 2px 15px var(--two), 3px 3px 10px rgb(204, 0, 255), 0 0 2px rgb(204, 0, 255) inset;
}

.modal-header {
    background-color: var(--two);
}

#modal-body {
    background-color: var(--two);
}

#modal-footer {
    background-color: var(--two);
}

#create-proj-btn {
    color: black;
    background-color: var(--button);
    border: none;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 1px 1px 2px var(--button), 2px 2px 2px black;
    margin-right: 3px;
}

#new-project-form {
    /* margin-top: 50px; */
    /* border: solid black 1px; */
    background-color: var(--two);
    /* border-top-right-radius: 30px 15px;
    border-bottom-left-radius: 30px 15px; */
    /* padding: 20px; */
    /* box-shadow: 1px 1px 2px black, 2px 2px 15px var(--two), 3px 3px 10px rgb(204, 0, 255), 0 0 2px rgb(204, 0, 255) inset; */
}

#new-project-modal-title {
    font-size: 22px;
}

#new-project-btn {
    background-color: var(--button);
    border: none;
    color: black;
    font-weight: 700;
    box-shadow: 1px 1px 3px var(--button), 1px 1px 1px black;
    margin-right: 3px;
}

#cancel-proj-btn {
    font-weight: 700;
    font-size: 16px;
    box-shadow: 1px 1px 2px #999999, 2px 2px 2px black;
    border: none;
}