.login-form {
    margin-top: 50px;
    border: solid black 1px;
    background-color: var(--two);
    border-top-right-radius: 30px 15px;
    border-bottom-left-radius: 30px 15px;
    padding: 20px;
    box-shadow: 1px 1px 2px black, 2px 2px 15px var(--two), 3px 3px 10px rgb(204, 0, 255), 0 0 2px rgb(204, 0, 255) inset;
}

#login-btn {
    color: black;
    background-color: var(--button);
    border-color: black;
}