* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --one: rgb(30,30,27);
    --two: #d0d2f2;
    --three: rgb(15, 15, 13);
    --four: rgb(204, 0, 255);
    --five: #e1e305;
    --six: #999999;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--one);
}

.main-container {
    min-height: 100vh;
    padding-top: 55px;
}