* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --one: rgb(22,22,20);
    --two: #d0d2f2;
    --three: rgb(15, 15, 13);
    --four:  #d0d2f2;
    --five: #e1e305;
    --six: rgb(45, 45, 40);
    --button: rgb(230, 139, 253);
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--one);
}

.main-container {
    min-height: 100vh;
    padding-top: 55px;
}

#error-page {
    color: var(--two);
    padding-top: 100px;
    text-align: center;
}